.completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 3.5rem 3.5rem 3.5rem 0rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d8da;

  font-weight: 500;

  span {
    &:first-child {
      font-size: 1.254rem;
    }

    &:last-child {
      font-size: 1.5rem;
    }
  }
}
